* {
  font-family: "Lobster", cursive;
  font-weight: 100;
  font-size: 30px;
}

.caja1 {
  width: 200px;
  height: 200px;
  background-color: red;
  margin: auto;
  outline: 10px solid blue;
  /* box-sizing: content-box; */
}

.caja2 {
  width: 200px;
  height: 200px;
  background-color: yellow;
  margin: auto;
}
